version: '3.8'
services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  server:
    build: ./server
    env_file:
      - ./server/.env.example
    ports:
      - "8100:8100"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - mongo

  web:
    build: ./web
    ports:
      - "3000:3000"
    depends_on:
      - server

volumes:
  mongodata:
